h2,
h3 {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.4rem solid #13170c;
  position: fixed;
  width: 100%;
  background-color: #5e723b;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 3rem;
  letter-spacing: 0.35rem;
  text-decoration: none;
}

.logo-img {
  height: 5rem;
  padding: 0.5rem;
}

.logo-title {
  font-weight: 700;
  padding-left: 0.3rem;
  color: #f3a51c;
  -webkit-text-stroke: 0.1rem #000;
}

.main-nav {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.main-nav-link a {
  display: flex;
  align-items: center;
  margin: 0 1.3rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  /* display: inline-block; */
}

.main-nav-link:not(:last-child) a:link,
a:visited {
  color: #fff;
}

.main-nav-link:not(:last-child) a:hover,
a:active {
  color: #f3a51c;
  transition-duration: 0.15s;
}

.cheetah-btn a {
  background-color: #f3a51c;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
  margin-right: 2rem;
}

/* .cheetah-btn > a:hover,
a:active {
  background-color: #db9519;
} */

.cheetah-btn:hover {
  background-color: #db9519;
}

/* MAIN */

.main {
  background-color: #f5f1ea;
}

.main section:not(:last-child) {
  margin-bottom: 5rem;
}

/* HERO */

.section-hero {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #333;
  background-position: center;
  height: 60rem;
  padding-top: 4.8rem;
  justify-content: space-between;
  background-image: linear-gradient(
      to top right,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(https://images.unsplash.com/photo-1619494296448-ab5f847ece97?auto=format&fit=crop&q=80&w=1450&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

/* .heading-primary {
  display: flex;
  justify-content: end;
  font-size: 5rem;
  color: #fff;
  justify-content: flex-end;
} */

/* .hero-heading {
  margin-top: 2rem;
  margin-bottom: 10rem;
} */

.heading-primary--1 {
  margin-right: 2rem;
  margin-left: auto;
  font-size: 16rem;
  display: flex;
  justify-content: end;
  margin: 2rem;
  font-family: "Roboto Serif", serif;
  font-weight: 400;
}

.heading-primary--2 {
  margin-right: 2rem;
  margin-left: auto;
  font-size: 6rem;
  display: flex;
  justify-content: end;
  margin: 2rem;
}

.hero-desc {
  font-size: 2.8rem;
  line-height: 1.5;
  margin: 1.6rem;
  font-family: "Roboto Serif", serif;
}

/* PHOTOS */

.heading-secondary {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: #5e723b;
}
.photo-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.gallery {
  width: 25%;
  height: 200px;
  object-fit: cover;
}

/* .photo-1 {
  object-position: 0px -32px;
}

.photo-2 {
  object-position: -70px 0px;
}

.photo-3 {
  object-position: -30px 0px;
}

.photo-4 {
  object-position: -10px 0px;
} */

.facts-content {
  display: flex;
  justify-content: space-around;
}

.facts-content-ul {
  font-size: 2rem;
  line-height: 2;
}
.facts-content-photo {
  height: 40rem;
}

/* VIDEO */

.section-video {
  display: flex;
  flex-direction: column;
}

.video-cheetah-running {
  margin: auto;
}

/* FORM */

.section-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 5rem;
}

.form-like {
  font-size: 3rem;
  margin: auto;
}
